@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'poppins', serif;
}

a{
    text-decoration: none;
}

Span{
    color:#E7332B ;
}

.header{
    width: 100%;
    padding: 0 4%;
    position: fixed;
}

nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: #fff;
}

.logo{
    width: 140px;
}

.nav-links{
padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-size: 16x;
    position: relative;
}
.nav-links a:hover {
    background-color:lightcyan;
    color: black;
    padding: 6px 8px;
  }

.nav-links .active a{
    border-bottom: 3px solid #E7332B;

}

.btn{
    background: #E7332B;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border-bottom-right-radius: 15px;
}

#home{
    display: flex;
    margin-top: 5%;
    height: 100vh;

}


.content{
flex: 50%;
}

.content .home-content{
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    margin-left: 15%;
}

#home .content .home-content h2{
    font-size: 35px;
    font-weight: 700;
    word-spacing: 5px;
    margin-bottom: 5%;

}


#home .content .home-content img{
    position: absolute;
    left: 38%;
    top: 56%;

}

#home .content .home-content p{
    color: #484848;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5%;
}

.button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-right: 25%;
}

.button .btn1 button{
    padding: 11px 45px;
    border: 1px solid #E7332B;
    background: #E7332B;
    margin-right: 24px;
    font-family: 'poppins';
    font-size: 15px;
    cursor: pointer;
    border-bottom-right-radius: 15px;

}

.button .btn1 button a {
    color: #fff;
}

.button .btn2 button{
    border: 1px solid #484848;
    padding: 11px 28px;
    font-size: 15px;
    font-family: 'poppins';
    background: #484848;
    cursor: pointer;
    border-bottom-right-radius: 15px;
}

.button .btn2 button a {
    color: #fff;
}


.content-image{
    margin-top: 10%;
    margin-left: 10%;
}



.content-image img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    align-items: flex-end;
    margin-left: 15%;
}
.content .img2 img{
    position: absolute;
    right: 0;
    width: 10%;
    height: 20%;
    top: 80%;
}


#program{
    background-image: url(../image/bgsection2.063bd869082548bafa74.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
}

.container{
    flex: 50%;
}


.contents{
    padding-top: 20%;
    padding-left:15% ;
}

.contents h2{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.contents h3{
    font-size: 28px;
}

.contents p{
    color: #787878;
    font-size: 20px;
}

.countries-box{
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding-right: 10px;
margin-left: 0;
position: absolute;
right: 23%;
}

.img-box{
    display: flex;
    width: 70px;
    background-color: #FFFAFA;
    border:none;
    margin: 15px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prog-img img{
    padding: 5px;
    height: 70%;
    width: 70%;
}

.cont-img{
    margin-top: 15%;
    margin-left: 10%;

}

.cont-img img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    align-items: flex-end;
    margin-left: 15%;

}

